<!doctype html>
<script>
    function disableButton() {
        var btn = document.getElementById('btn');
        btn.disabled = true;
        btn.innerText = 'Waiting...'
        resptext0.innerText = 'Waiting...'
    }
</script>
<script>
    function callAI() {
        var btn = document.getElementById('btn');
        btn.disabled = true;
        btn.innerText = 'Waiting...'
        document.getElementById("resptext0").innerText = "Calling AI...";
        let data = new URLSearchParams();
        data.append('query', document.getElementById("query").value);
        data.append('definitions', document.getElementById("definitions").value);
        data.append('data', document.getElementById("data").value);
        if (document.getElementById("Forget").checked) {
            data.append('Forget', '1');
        }
        if (document.getElementById("ThomAIs").checked) {
            data.append('ThomAIs', '1');
        }
        let file = "fetch_info"
        fetch(file, {
            method: 'POST',
            body:data
        }).then(response => response.json()).then(json => {
            console.log("######################################")
            console.log(json)
            document.getElementById("resptext0").innerText = json.response
            btn.disabled = false;
            btn.innerText = 'Submit'
        })
    }
</script>
<html>
    <head>
        <title>AI test 0.2</title>
    </head>
    <body>
        <div style="width: 100%;">
                <div style="width: 50%; float: left;">
                    <form action="index" method="POST" onsubmit='event.preventDefault(); callAI()'>
                        More information on <a href="https://github.com/thomasgladwin/AIAnalysis1">GitHub</a>.
                        <h1>Definitions</h1>
                        <textarea rows=3 cols=80 id="definitions" style="width: 80%;">{{ definitions }}</textarea>
                        <h1>Data</h1>
                        <textarea rows=3 cols=80 id="data" style="width: 80%;">{{ data }}</textarea>
                        <h1>Query</h1>
                        <textarea rows=3 cols=80 id="query" style="width: 80%;">{{ query }}</textarea>
                        <p><input type="checkbox" id="Forget" name="Forget" value="valForget">Forget prior conversation</p>
                        <p><input type="checkbox" id="ThomAIs" name="ThomAIs" value="valThomAIs">Toggle ThomAIs mode</p>
                        <p><button id='btn'>Submit</button></p>
                    </form>
                </div>
                <div style="margin-left: 50%;">
                    <h1>Response</h1>
                    <div id ='resptext0' style="white-space: pre-wrap;">{{ response }}</div>
                    <p><hr></p>
                </div>
            </div>
    </body>
</html>
