<!doctype html>
<script>
    function disableButton() {
        var btn = document.getElementById('btn');
        btn.disabled = true;
        btn.innerText = 'Waiting...';
        resptext0.innerText = 'Waiting...';
    }
</script>
<script>
    function loadExample() {
        document.getElementById('QueryContextDetails').open = true;
        document.getElementById("definitions").value = "Define a code as a concept that appears at multiple points in the text, where it has a similar meaning but possibly different wording; the code is labeled as the abstracted meaning of the text. A code should have a specific valence - use different codes for positive and negative attitudes towards similar concepts.";
        document.getElementById("data").value = "The following text contains interview transcripts. The symbol ### indicates where a new participant transcript begins. The participant identifier is given after the ### symbol. ### Participant 1. I like oranges, but not pears. ### Participant 2. I like apples, but not pears. ### Participant 3. I dislike apples and pears.";
        document.getElementById("query").value = "Identify codes for the responses for each participant. Using the codes for analysis, what attitudes do the participants express? Create a table with a row per participant and a column per code, and set the value of each element to 1 if the participant expressed the code and 0 otherwise.";
        document.getElementById("Forget").checked = false;
        document.getElementById("ThomAIs").checked = false;
    }
</script>
<script>
    async function callAI() {
        document.getElementById("resptext0").style.color = 'black';
        var btn = document.getElementById('btn');
        btn.disabled = true;
        btn.innerText = 'Waiting...'
        document.getElementById("resptext0").innerText = "Calling AI...";
        let data = new URLSearchParams();
        data.append('query', document.getElementById("query").value);
        data.append('definitions', document.getElementById("definitions").value);
        data.append('data', document.getElementById("data").value);
        if (document.getElementById("Forget").checked) {
            data.append('Forget', '1');
        }
        if (document.getElementById("ThomAIs").checked) {
            data.append('ThomAIs', '1');
        }
        // Prepare ThomAIs content via relevance-scans
        document.getElementById("resptext0").innerText = "Relevance-scanning...";
        rel_scan_done = false;
        let file = "relevanceScansLoop";
        while (rel_scan_done == false) {
            await fetch(file, {
                method: 'POST',
                body:data
            }).then(response => response.json()).then(json => {
                //console.log(json)
                if (json.response == "1") {
                    rel_scan_done = true;
                }
                document.getElementById("resptext0").innerText = "Doc[" + json.rel_id + "] checked. Score: " + json.score;
            }).catch(error => {
                document.getElementById("resptext0").innerText = "Error during relevance scan query - possible timeout";
                btn.disabled = false;
                btn.innerText = 'Submit';
            });
        }
        // Initiate query
        document.getElementById("resptext0").innerText = "Initiating query...";
        file = "fetch_info";
        fetch(file, {
            method: 'POST',
            body:data
        }).then(response => response.json()).then(json => {
            //console.log(json);
            document.getElementById("resptext0").innerText = json.response;
            btn.disabled = false;
            btn.innerText = 'Submit';
        }).catch(error => {
            document.getElementById("resptext0").innerText = "Error during query - possible timeout. Please try again.";
            btn.disabled = false;
            btn.innerText = 'Submit';
        });
        // Streaming response
        file = "check_stream";
        globalThis.stream_complete = false;
        maxTimeMs = 600000;
        var timechecker = setTimeout(function stop_loop() {globalThis.stream_complete = true; document.getElementById("resptext0").innerText = "Query timed out - please try again.";}, maxTimeMs);
        while (globalThis.stream_complete == false) {
            //console.log(">>> " + globalThis.stream_complete)
            await fetch(file, {
                method: 'POST',
                body:data
            }).then(response => response.json()).then(json => {
                //console.log(json);
                if (json["completed"] == "1") {
                    //console.log("Completed");
                    globalThis.stream_complete = true;
                    document.getElementById("resptext0").style.color = 'black';
                    document.getElementById("resptext0").innerText = json["response"];
                    clearTimeout(timechecker);
                } else {
                    if (json["response"].length > 0) {
                        document.getElementById("resptext0").style.color = 'gray';
                        document.getElementById("resptext0").innerText = json["response"];
                    }
                }
            }).catch(error => {
                document.getElementById("resptext0").style.color = 'red';
                document.getElementById("resptext0").innerText = "Error during streaming. Please try again.";
            });
            // delay
            function fDelay(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            await fDelay(1000)
        }
    }
</script>
<html>
    <head>
        <title>AI test 0.2</title>
    </head>
    <body>
        <div style="padding:1%; padding-left:2%; float: left;">
            <details>
                <summary>Information</summary>
                <div style="padding: 1%; padding-left: 2%;  background-color: LightGray; border-style: solid; width:auto;">
                    <p><a href="https://www.tegladwin.com/apps.php#ThomAIs">tegladwin.com</a>.
                    <br>More information on <a href="https://github.com/thomasgladwin/AIAnalysis1">GitHub</a> repository.
                    <br><button id='btnExample' onclick='loadExample()'>Load example</button>
                    <p>
                </div>
            </details>
            <form action="index" method="POST" onsubmit='event.preventDefault(); callAI()'>
                <details id="QueryContextDetails">
                    <summary>Add query context</summary>
                    <div style="padding: 1%; padding-left: 2%; background-color: LightGray; border-style: solid;">
                        <h1>Definitions</h1>
                        <textarea rows=3 cols=80 id="definitions" style="width: 80%;">{{ definitions }}</textarea>
                        <h1>Data</h1>
                        <textarea rows=3 cols=80 id="data" style="width: 80%;">{{ data }}</textarea>
                        <p>
                    </div>
                    </details>
                <h1>Query</h1>
                <textarea rows=3 cols=80 id="query" style="width: 80%;">{{ query }}</textarea>
                <p><input type="checkbox" id="Forget" name="Forget" value="valForget">Forget prior conversation</p>
                <p><input type="checkbox" id="ThomAIs" name="ThomAIs" value="valThomAIs" checked>ThomAIs mode</p>
                <p><button id='btn'>Submit</button></p>
            </form>
            <h1>Response</h1>
            <div id ='resptext0' style="white-space: pre-wrap;">{{ response }}</div>
            <p><hr></p>
        </div>
    </body>
</html>
